<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <h1>Super eshop</h1>
      <h2>Please login</h2>
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="onSubmit()">
      <input [(ngModel)]="credentials.uname" class="fadeIn second" id="uname" name="login" placeholder="login"
             required type="text">
      <input [(ngModel)]="credentials.password" class="fadeIn third" id="password" name="login" placeholder="password"
             required type="password">
      <input class="fadeIn fourth btn" type="submit" value="Log In">
    </form>
  </div>
</div>
