<p-button (click)="display = !display" class="p-button-warning"
          [badge]="cartProducts.length.toString()" icon="pi pi-shopping-cart" label="Cart"></p-button>
<p-sidebar [(visible)]="display" position="right">
  <div class="p-d-flex p-jc-between p-flex-column">
    <h1>My Cart</h1>
    <p-orderList [listStyle]="{'height': '75vh'}" [value]="cartProducts" controlsPosition="right" dragdrop="true">
      <ng-template let-product pTemplate="item">
        <app-cart-item [product]="product"></app-cart-item>
      </ng-template>
    </p-orderList>
    <a class="p-my-2" routerLink="/payment">
      <p-button label="Go to Payment"></p-button>
    </a>
  </div>
</p-sidebar>
